body{
  background-color: rgb(255, 255, 255);
}

body {
  height: 900px;
  background: linear-gradient(45deg, #00e5ff, #fb04ff);
}

.box {
  width: 200px;
  height: 200px;
  
  border-top: 10px solid lightgreen;
  border-right: 10px solid mediumpurple;
  border-bottom: 10px solid lightsalmon;
  border-left: 10px solid moccasin;
}

.heart {
  position: relative;
  
  width: 200px;
  height: 160px;
}

.heart:before,
.heart:after {
  position: absolute;
  content: "";
  
  width: 100px;
  height: 160px;
  left: 100px;
  
  background-color: tomato;
  
  border-radius: 100px 100px 0 0;
  
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart:after {
  left: 0;
  
  transform-origin: 100% 100%;
  transform: rotate(45deg);
}

